body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    min-height: 500px;
}

.name-highlight{
    color: orange;
}
p{
    text-align: justify;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 30px;
    padding: 3px;
}
.half-width img{
    width: 100%;
}
