body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    min-height: 500px;
    padding-bottom: 150px;
}

.name-highlight{
    color: orange;
}
p{
    text-align: justify;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 30px;
    padding: 3px;
}
.half-width img{
    width: 80%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(45deg, salmon, tomato);
    font-size: 17px;
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
a:hover{
    background-image: linear-gradient(45deg, tomato, salmon);
    color: whitesmoke;
}